/* Base changes. */
@import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,700,400i,700i);
:root {
  --h4: 1.1rem;
  /* Colors */
  /* shade of red tailored for computer screens version */
  /* #E9495F hex -> HSL */
  --accent-h:352;
  --accent-s:78%;
  --accent-d:60%; /* accent lightness dark mode */
  --accent-l:50%; /*accemt lightness light mode */
  /* Snippet of code from Primary Theme */
  --scale-0-0: 0px;
  --scale-2-4: 8px;
  --scale-2-8: 16px;
  --scale-2-18: 36px;
}

.theme-light {
  --mav-red:hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --text-accent:var(--mav-red);
  --text-accent-hover:hsl( var(--accent-h), var(--accent-s), calc(var(--accent-l) + 12%) );
  --interactive-accent:var(--mav-red);
  --interactive-accent-rgb:233, 73, 95;
  --interactive-accent-hover: #fd3550; /* buttons */
}

.theme-dark {
  --mav-red:hsl(var(--accent-h), var(--accent-s), var(--accent-d));
  --text-accent:var(--mav-red);
  --text-accent-hover:hsl( var(--accent-h), var(--accent-s), calc(var(--accent-d) + 12%) );
  --interactive-accent:var(--mav-red);
  --interactive-accent-rgb:233, 73, 95;
  --interactive-accent-hover: #fd3550; /* buttons */
  /* For new blockquote containers. */
  --md-color-blockquotes-bg:hsl(26, 16%, 9%);
}

body {
  /*New primary font*/
  font-family: "Atkinson Hyperlegible", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --font-text: "Atkinson Hyperlegible", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  /* Times new roman, for papers and official documents */
  /* uncomment below to use, and comment out above font too when in use, vice versa. */
  /*
  font-family: "Times New Roman", sans-serif;
  --font-text: "Times New Roman", sans-serif;
  */
}

a.footnote-link {
  text-decoration: none;
}

section.footnotes > hr {
  display: none;
}

/* Headers */
/* Inspired by Andy Matuschak */
.markdown-preview-view h1,
.HyperMD-header-1,
.cm-header-1,
.cm-s-obsidian .cm-header-1 {
  font-weight: 600;
}

.markdown-preview-view h2,
.HyperMD-header-2,
.cm-header-2,
.cm-s-obsidian .cm-header-2,
.markdown-preview-view h3,
.HyperMD-header-3,
.cm-header-3,
.cm-s-obsidian .cm-header-3 {
  font-weight: normal;
}

.markdown-preview-view h2 {
  border-bottom: 2.5px solid #E9495F; /*Inspired by Fedora Kinoite docs*/
}

.markdown-preview-view h4,
.HyperMD-header-4,
.cm-header-4,
.cm-s-obsidian .cm-header-4 {
  font-size: var(--h4);
  /*font-weight: normal;*/
  font-style: italic;
}

/* Better embedded titles. */
.markdown-embed-title {
  display: none;
  /*text-align: center;
  font-weight: normal;*/
}

/* No underlines for internal links. */
.markdown-preview-view .internal-link {
  text-decoration: none;
}

/* Source mode */
.markdown-source-view.mod-cm6 .cm-hmd-internal-link span.cm-underline {
  text-decoration: none;
}

/* Reading view. */
ul > li.task-list-item[data-task=x],
ul > li.task-list-item[data-task=X] {
  text-decoration: none;
  color: var(--text-normal);
}

/* Source view. */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task=x],
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task=X] {
  text-decoration: none;
  color: var(--text-normal);
}

/* Old Blockquotes */
/*.markdown-rendered blockquote {
  border: none; /* Remove Obsidian's border */
/*border-left: 5px solid #3e4446;*/ /* Create my own design. */
/*}*/
/* Preview View Blockquotes */
.markdown-preview-view blockquote {
  font-style: italic;
  background: var(--background-primary-alt); /*var(--md-color-blockquotes-bg);*/
  padding: var(--scale-2-8) var(--scale-2-18) var(--scale-2-8) var(--scale-2-18);
  border-radius: var(--scale-2-4);
  border: 1px solid var(--background-modifier-border);
  margin-left: var(--scale-0-0);
  margin-right: var(--scale-0-0);
}

/* Images */
.markdown-source-view img,
.markdown-preview-view img {
  border-radius: 5px;
}

/* Make images fit width like live-preview mode. */
/* *So* much more easier to edit without images exploding... */
.markdown-source-view img:not([width]),
.markdown-source-view.cm-s-obsidian.mod-cm6.is-readable-line-width img,
.internal-embed.image-embed.is-loaded img {
  max-width: 100%;
}

/* We don't want images exploding while editing tables either. */
.markdown-source-view .HyperMD-table-2 img {
  max-width: 200px !important; /* still not perfect, re-scaling issues... */
}

/* Tags */
.markdown-preview-view .tag:not(.token) {
  text-decoration: none;
  font-weight: 550;
  background-color: var(--background-secondary);
  border-radius: 30px;
  font-size: 0.9em;
  padding: 2px 8px;
  border: 1px solid var(--background-modifier-border);
}

/* Current graph node highlight/focused */
.graph-view.color-fill-focused {
  color: var(--mav-red);
}

/* Graph node outline */
.graph-view.color-circle {
  color: var(--mav-red);
}

.graph-view.color-fill-highlight {
  color: var(--interactive-accent);
}

.graph-view.color-line-highlight {
  color: rgb(var(--interactive-accent-rgb));
}

/* Remove spelling errors regarding html tags themselves (not the content within it). */
.cm-tag.cm-overlay.cm-spell-error {
  background-image: none;
}

/* Center iframes */
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Backlinks like Obsidian Publish. */
.embedded-backlinks {
  background-color: var(--background-primary-alt);
  border-radius: 6px;
  margin: 30px 0;
  padding: 20px;
  clear: both; /* to not conflict with floating images. */
}

.published-container .backlinks {
  clear: both; /* to not conflict with floating images. */
}

/* Disable backlinks when editing */
/* Doesn't seamlessly work in source mode... Obsidian please. */
.markdown-source-view .embedded-backlinks {
  display: none;
}

/* External helpers */
/* Dark mode images  */
/* MIT License | Copyright (c) Stephan Ango (@kepano) */
.theme-dark .markdown-preview-view img {
  opacity: 0.75;
  transition: opacity 0.25s linear;
}

.theme-dark .markdown-preview-view img:hover {
  opacity: 1;
  transition: opacity 0.25s linear;
}

/* Transcluded notes and embeds */
/* Derived from kepano's helper class */
/* https://github.com/kepano/obsidian-minimal */
/* duplicate markdown-preview-view is for Obsidian publish. */
/* Make transcluded notes appear more inline. */
/* (deal with different padding/margins.) */
.markdown-preview-view .internal-embed .markdown-embed,
.internal-embed .markdown-embed {
  padding: 0;
  border: none;
  margin: 0;
}

.markdown-preview-view .markdown-embed,
.markdown-embed {
  margin: 0;
  padding: 0;
}

.markdown-preview-view .markdown-embed .markdown-preview-view,
.markdown-embed .markdown-preview-view {
  padding: 0;
}

/* make it look similar to text in source view too. */
/* based on "cm-line". */
.markdown-source-view .internal-embed {
  padding: 0 2px 0 4px;
}

/*=====================================*/
/* Now deal with content above/below the transcluded note. */
/* original top margin is 6px, */
/* shortening it is more natural */
.markdown-preview-view .markdown-embed-content p:first-child,
.markdown-embed-content p:first-child {
  margin-top: 0;
}

/* same theory, bottom margin was 17px,*/
.markdown-preview-view .markdown-embed .markdown-preview-section div:last-child p,
.markdown-embed .markdown-preview-section div:last-child p,
.markdown-preview-view .markdown-embed .markdown-preview-section div:last-child ul,
.markdown-embed .markdown-preview-section div:last-child ul {
  margin-block-end: 0px;
}

/*=====================================*/
/* Link icon (of the transcluded note) */
.markdown-preview-view .markdown-embed-link,
.markdown-embed-link,
.markdown-preview-view .file-embed-link,
.file-embed-link {
  top: 0px;
  right: 0;
  text-align: right;
}

/* more compact icon */
.markdown-preview-view .file-embed-link svg,
.file-embed-link svg,
.markdown-preview-view .markdown-embed-link svg,
.markdown-embed-link svg {
  width: 16px;
  height: 16px;
}

.internal-embed .markdown-preview-view .markdown-preview-sizer > div,
.internal-embed .markdown-preview-view .markdown-preview-sizer > div {
  margin: 0;
  width: 100%;
}

.markdown-embed .markdown-preview-view .markdown-preview-sizer {
  padding-bottom: 0 !important;
}

.markdown-preview-view.markdown-embed .markdown-preview-sizer,
.markdown-preview-view.is-readable-line-width .markdown-embed .markdown-preview-sizer {
  max-width: 100%;
  width: 100%;
  min-height: 0 !important;
  padding-bottom: 0 !important;
}

/* Mavre theme for ObsidianMD, by Rachel Veer. */

/*# sourceMappingURL=Mavre.css.map */
