@charset "UTF-8";
/* Base changes. */
@import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,700,400i,700i);
:root {
  --h4: 1.1rem;
  /* Colors */
  /* shade of red tailored for computer screens version */
  /* #E9495F hex -> HSL */
  --accent-h:352;
  --accent-s:78%;
  --accent-d:60%; /* accent lightness dark mode */
  --accent-l:50%; /*accemt lightness light mode */
  /* Snippet of code from Primary Theme */
  --scale-0-0: 0px;
  --scale-2-4: 8px;
  --scale-2-8: 16px;
  --scale-2-18: 36px;
}

.theme-light {
  --mav-red:hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --text-accent:var(--mav-red);
  --text-accent-hover:hsl( var(--accent-h), var(--accent-s), calc(var(--accent-l) + 12%) );
  --interactive-accent:var(--mav-red);
  --interactive-accent-rgb:233, 73, 95;
  --interactive-accent-hover: #fd3550; /* buttons */
}

.theme-dark {
  --mav-red:hsl(var(--accent-h), var(--accent-s), var(--accent-d));
  --text-accent:var(--mav-red);
  --text-accent-hover:hsl( var(--accent-h), var(--accent-s), calc(var(--accent-d) + 12%) );
  --interactive-accent:var(--mav-red);
  --interactive-accent-rgb:233, 73, 95;
  --interactive-accent-hover: #fd3550; /* buttons */
  /* For new blockquote containers. */
  --md-color-blockquotes-bg:hsl(26, 16%, 9%);
}

body {
  /*New primary font*/
  font-family: "Atkinson Hyperlegible", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --font-text: "Atkinson Hyperlegible", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  /* Times new roman, for papers and official documents */
  /* uncomment below to use, and comment out above font too when in use, vice versa. */
  /*
  font-family: "Times New Roman", sans-serif;
  --font-text: "Times New Roman", sans-serif;
  */
}

a.footnote-link {
  text-decoration: none;
}

section.footnotes > hr {
  display: none;
}

/* Headers */
/* Inspired by Andy Matuschak */
.markdown-preview-view h1,
.HyperMD-header-1,
.cm-header-1,
.cm-s-obsidian .cm-header-1 {
  font-weight: 600;
}

.markdown-preview-view h2,
.HyperMD-header-2,
.cm-header-2,
.cm-s-obsidian .cm-header-2,
.markdown-preview-view h3,
.HyperMD-header-3,
.cm-header-3,
.cm-s-obsidian .cm-header-3 {
  font-weight: normal;
}

.markdown-preview-view h2 {
  border-bottom: 2.5px solid #E9495F; /*Inspired by Fedora Kinoite docs*/
}

.markdown-preview-view h4,
.HyperMD-header-4,
.cm-header-4,
.cm-s-obsidian .cm-header-4 {
  font-size: var(--h4);
  /*font-weight: normal;*/
  font-style: italic;
}

/* Better embedded titles. */
.markdown-embed-title {
  display: none;
  /*text-align: center;
  font-weight: normal;*/
}

/* No underlines for internal links. */
.markdown-preview-view .internal-link {
  text-decoration: none;
}

/* Source mode */
.markdown-source-view.mod-cm6 .cm-hmd-internal-link span.cm-underline {
  text-decoration: none;
}

/* Reading view. */
ul > li.task-list-item[data-task=x],
ul > li.task-list-item[data-task=X] {
  text-decoration: none;
  color: var(--text-normal);
}

/* Source view. */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task=x],
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task=X] {
  text-decoration: none;
  color: var(--text-normal);
}

/* Old Blockquotes */
/*.markdown-rendered blockquote {
  border: none; /* Remove Obsidian's border */
/*border-left: 5px solid #3e4446;*/ /* Create my own design. */
/*}*/
/* Preview View Blockquotes */
.markdown-preview-view blockquote {
  font-style: italic;
  background: var(--background-primary-alt); /*var(--md-color-blockquotes-bg);*/
  padding: var(--scale-2-8) var(--scale-2-18) var(--scale-2-8) var(--scale-2-18);
  border-radius: var(--scale-2-4);
  border: 1px solid var(--background-modifier-border);
  margin-left: var(--scale-0-0);
  margin-right: var(--scale-0-0);
}

/* Images */
.markdown-source-view img,
.markdown-preview-view img {
  border-radius: 5px;
}

/* Make images fit width like live-preview mode. */
/* *So* much more easier to edit without images exploding... */
.markdown-source-view img:not([width]),
.markdown-source-view.cm-s-obsidian.mod-cm6.is-readable-line-width img,
.internal-embed.image-embed.is-loaded img {
  max-width: 100%;
}

/* We don't want images exploding while editing tables either. */
.markdown-source-view .HyperMD-table-2 img {
  max-width: 200px !important; /* still not perfect, re-scaling issues... */
}

/* Tags */
.markdown-preview-view .tag:not(.token) {
  text-decoration: none;
  font-weight: 550;
  background-color: var(--background-secondary);
  border-radius: 30px;
  font-size: 0.9em;
  padding: 2px 8px;
  border: 1px solid var(--background-modifier-border);
}

/* Current graph node highlight/focused */
.graph-view.color-fill-focused {
  color: var(--mav-red);
}

/* Graph node outline */
.graph-view.color-circle {
  color: var(--mav-red);
}

.graph-view.color-fill-highlight {
  color: var(--interactive-accent);
}

.graph-view.color-line-highlight {
  color: rgb(var(--interactive-accent-rgb));
}

/* Remove spelling errors regarding html tags themselves (not the content within it). */
.cm-tag.cm-overlay.cm-spell-error {
  background-image: none;
}

/* Center iframes */
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Backlinks like Obsidian Publish. */
.embedded-backlinks {
  background-color: var(--background-primary-alt);
  border-radius: 6px;
  margin: 30px 0;
  padding: 20px;
  clear: both; /* to not conflict with floating images. */
}

.published-container .backlinks {
  clear: both; /* to not conflict with floating images. */
}

/* Disable backlinks when editing */
/* Doesn't seamlessly work in source mode... Obsidian please. */
.markdown-source-view .embedded-backlinks {
  display: none;
}

/* Publish Quirks */
/* Modified from:
* (https://garden.anthonyamar.fr)! */
/* My edit: 905px: squeezes accordingly on smaller screens nicely
 * AND looks good on wider screens. */
@media only screen and (min-width: 905px) {
  .published-container .site-body {
    justify-content: space-between !important;
  }
  .published-container .site-body-center-column {
    flex: 0 1 100% !important;
  }
  .published-container .markdown-preview-view {
    padding: 20px 6em !important;
  }
  /* don't add padding to transclusion */
  .published-container .markdown-embed .markdown-preview-view {
    padding: 0 !important;
  }
  .published-container .backlinks {
    margin: 30px 0 !important;
    padding: 20px !important;
  }
  .published-container .site-body-right-column,
.published-container .site-body-left-column {
    width: 290px !important;
    flex: 0 0 290px !important;
  }
}
.published-container .site-footer {
  display: none;
}

/* Perfect blend between too-small 16px and too-big 18px */
/*.published-container .markdown-preview-view {
  font-size: 17px;
}*/ /*Not necessary with Atkinson Hyperlegible font.*/
/* Disable folder view */
/*.nav-view-outer {
    display: none;
  }
*/
/* Hide Backlinks on home page(s) */
.published-container .nobacklinks .backlinks {
  display: none;
}

/* ─────────────────────────────────────────────────── */
/* > Flexquote */
/* ─────────────────────────────────────────────────── */
.flexquote blockquote {
  display: flex;
}

/* ─────────────────────────────────────────────────── */
/* > Wiki-inspired detailed nested ordered list */
/* ─────────────────────────────────────────────────── */
/* An Obsidian Snippet by Rachel Veer. */
/* :not(.footnotes) to leave precious footnotes alone. */
:not(.footnotes) > ol {
  list-style-type: none;
  counter-reset: list;
  margin: 0;
  padding-left: 40px;
}

:not(.footnotes) > ol li {
  counter-increment: list;
}

:not(.footnotes) > ol li::marker {
  color: var(--text-normal);
  content: counters(list, ".") ". ";
}

/* Removes trailing period from */
/* indented/sub-header numbers  */
/* similar effect to tfwiki toc  */
:not(.footnotes) > li ol > li::marker {
  content: counters(list, ".") " ";
}

/* ─────────────────────────────────────────────────── */
/* > Markdown Table Galleries */
/* ─────────────────────────────────────────────────── */
/* Round out images in Markdown table "galleries". */
.table-border-ri table {
  --background-modifier-border: none;
}

.table-border-ri .markdown-preview-view th {
  background-color: var(--background-editor-border);
  color: white;
}

.table-border-ri img {
  border-radius: 3px;
}

/* Responsive tables. */
@media all and (max-width: 500px) {
  .table-border-ri td {
    display: block;
    width: 100% !important;
  }
}
/* ─────────────────────────────────────────────────── */
/* > Image Adjustment Snippets */
/* ─────────────────────────────────────────────────── */
/* Originally from: https://github.com/SlRvb/Obsidian--ITS-Theme */
/* Modified by (7/20/2022): Rachel Veer */
/*----Image Positions/Adjustments----*/
/*Captions*/
/*=================================================*/
/* "min-width" makes is responsive!  */
/* This way images aren't squished on small screens*/
/*=================================================*/
@media screen and (min-width: 500px) {
  .img-cap .image-embed::after,
.image-embed[src*="#cap"]::after {
    content: attr(alt);
    color: var(--text-faint);
    display: block;
    text-align: center;
  }
  /* Lithou's Img-Grid CSS */
  .img-grid span.image-embed[alt*="."],
span.image-embed[src*=grid],
span.image-embed[alt*=grid],
img[alt*=grid] {
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
  }
  .img-grid img[alt*="."],
.image-embed[alt*=grid],
img[alt*=grid],
.image-embed[src*="#grid"] {
    max-height: 30vh;
  }
  /*Fix Float Issues*/
  img[alt*=clear],
.image-embed[src*="#clear"] {
    clear: both;
  }
  img[alt*=unclr],
.image-embed[src*="#unclr"] {
    clear: none !important;
  }
  /*Center Image*/
  /* Working center image in both reading and source view! */
  /* By Rachel Veer. */
  img[alt*=ctr],
img[alt*=center],
img[src*="#center"],
.image-embed[src*="#ctr"],
.image-embed[src*="#center"],
.image-embed[alt*=center],
span.internal-embed.image-embed.is-loaded[src*="#center"],
.view-content .image-embed[src*="#center"] img,
.markdown-preview-view .image-embed[src*="#center"] img,
.imgctr img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /*--Simplified Version--*/
  /*Image Locations*/
  /*Left & Right*/
  .view-content > :not(.is-live-preview) .image-embed[alt*=left],
.view-content > :not(.is-live-preview) .image-embed[src*="#left"],
.markdown-preview-view .image-embed[alt*=left],
.markdown-preview-view .image-embed[src*="#left"] {
    float: left;
    margin-right: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .view-content > :not(.is-live-preview) .image-embed[alt*=right],
.view-content > :not(.is-live-preview) .image-embed[src*="#right"],
.markdown-preview-view .image-embed[alt*=right],
.markdown-preview-view .image-embed[src*="#right"] {
    float: right;
    margin-left: 2%;
    margin-bottom: 0px;
  }
  /* Prevent header conflict with images */
  /* Header 1 because I use it as a title (don't want an image next to that, */
  /* and Header 2 because I give them a bottom border, so now it won't conflict or go through images. */
  .markdown-preview-view h1,
.markdown-preview-view h2 {
    clear: both;
  }
}
/* Automatically center images on smaller screens. */
@media screen and (max-width: 500px) {
  .markdown-preview-view .markdown-embed,
.markdown-preview-view img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ─────────────────────────────────────────────────── */
/* > Destiny Wiki infobox */
/* ─────────────────────────────────────────────────── */
/* Few class descriptiveness mods (i.e. 'th.<class-name>')
 * for minimal compatability. */
/* - added th.infoboxcell class to fix mis-padded/aligned
 *   images. */
@media screen and (max-width: 500px) {
  table.infobox {
    float: none;
  }
}
/* Responsive in popover. */
.popover.hover-popover .markdown-embed .infobox {
  float: none;
}

.infobox {
  float: right;
  clear: right;
  padding: 2px;
  margin: 0 0 1em 1em;
  width: 260px;
  border-radius: 0 0 10px 10px;
}

.theme-light .infobox {
  color: white;
}

/* Tight spacing + custom borders. */
.infobox th, .infobox td {
  padding: 0;
  border-spacing: 0;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
}

/* Create outline around entire table. */
.markdown-preview-view table.infobox {
  border-collapse: separate;
  background-color: #666;
}

/* The actual title of the infobox. */
.markdown-preview-view th.title {
  /*background: #666; above class changes bg*/
  color: white;
  text-align: center;
  font-size: 90%;
}

/* Infobox sub-headings following title. */
.markdown-preview-view th.infoboxsubheading {
  font-size: 80%;
  color: white;
  text-align: center;
}

/* The main contents of the table. */
.content {
  vertical-align: top;
  background: #333;
  font-size: 80% !important;
  padding: 0 0 0 2px !important;
  line-height: 14px;
}

/* Further tightness. */
.infoboxcell {
  vertical-align: top;
  font-size: 90%;
  padding: 0px 0px 0px 2px !important;
  line-height: 14px;
}

th.infoboxcell {
  padding-left: 0px !important;
}

.rounded-end {
  text-align: center;
  background: transparent;
  padding: 0;
  font-size: 10px;
  line-height: 10px;
  border: none !important;
}

.infobox img {
  border-radius: 0% !important;
}

/* ─────────────────────────────────────────────────── */
/* > Clear Table CSS */
/* ─────────────────────────────────────────────────── */
.clear-table table {
  --background-modifier-border: none;
}

/* ─────────────────────────────────────────────────── */
/* > Rachel Veer's Notion Gallery. (As of 10/4/21) */
/* ─────────────────────────────────────────────────── */
/* Responsive
====================================*/
@media all and (max-width: 500px) {
  .notion-gallery td {
    display: block;
    margin-bottom: 16px;
    width: 100% !important;
    height: auto !important;
  }
}
/*=================================*/
.notion-gallery.markdown-preview-view blockquote {
  border: none;
  border-left: 5px solid #3e3471;
}

/* Inserts line at start/top of
   galleries + separate borders and
   spacing akin to Notion */
.notion-gallery table {
  border-top: 1px solid rgb(77, 81, 83);
  border-collapse: separate;
}

.notion-gallery table tbody {
  /* Margins that cope with "border-spacing" effect. */
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: -16px;
  display: block;
  border-spacing: 16px;
}

/* Get rid of empty header space */
.notion-gallery thead {
  display: none;
}

.notion-gallery td {
  padding: 0px !important; /* Remove artificial padding around images. */
  box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 2px 4px;
  border-radius: 3px;
  background: rgb(63, 68, 71);
  height: 146.25px; /* Preserve aspect ratio. */
  width: 342px;
}

/* Don't display an empty cell. */
.notion-gallery td:empty {
  display: none;
}

/* Preserves image presentation/ratio of all sizes,
   yet neatly contained like Notion (see height intensive images). */
.notion-gallery td img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 146.25px;
  object-position: center 50%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

/* Special case: allows images within gallery to
enlarge according to their respective sizes. */
.notion-gallery-unset-height td img {
  height: unset !important;
}

/* Key feature: clean text implementation after table image. */
.notion-gallery td .image-embed[alt]:after {
  content: attr(alt);
  display: block;
  /* Notion tier text. */
  padding-inline-start: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 10px;
  line-height: 1.1;
  color: var(--text-normal);
}

/* External helpers */
/* Dark mode images  */
/* MIT License | Copyright (c) Stephan Ango (@kepano) */
.theme-dark .markdown-preview-view img {
  opacity: 0.75;
  transition: opacity 0.25s linear;
}

.theme-dark .markdown-preview-view img:hover {
  opacity: 1;
  transition: opacity 0.25s linear;
}

/* Transcluded notes and embeds */
/* Derived from kepano's helper class */
/* https://github.com/kepano/obsidian-minimal */
/* duplicate markdown-preview-view is for Obsidian publish. */
/* Make transcluded notes appear more inline. */
/* (deal with different padding/margins.) */
.markdown-preview-view .internal-embed .markdown-embed,
.internal-embed .markdown-embed {
  padding: 0;
  border: none;
  margin: 0;
}

.markdown-preview-view .markdown-embed,
.markdown-embed {
  margin: 0;
  padding: 0;
}

.markdown-preview-view .markdown-embed .markdown-preview-view,
.markdown-embed .markdown-preview-view {
  padding: 0;
}

/* make it look similar to text in source view too. */
/* based on "cm-line". */
.markdown-source-view .internal-embed {
  padding: 0 2px 0 4px;
}

/*=====================================*/
/* Now deal with content above/below the transcluded note. */
/* original top margin is 6px, */
/* shortening it is more natural */
.markdown-preview-view .markdown-embed-content p:first-child,
.markdown-embed-content p:first-child {
  margin-top: 0;
}

/* same theory, bottom margin was 17px,*/
.markdown-preview-view .markdown-embed .markdown-preview-section div:last-child p,
.markdown-embed .markdown-preview-section div:last-child p,
.markdown-preview-view .markdown-embed .markdown-preview-section div:last-child ul,
.markdown-embed .markdown-preview-section div:last-child ul {
  margin-block-end: 0px;
}

/*=====================================*/
/* Link icon (of the transcluded note) */
.markdown-preview-view .markdown-embed-link,
.markdown-embed-link,
.markdown-preview-view .file-embed-link,
.file-embed-link {
  top: 0px;
  right: 0;
  text-align: right;
}

/* more compact icon */
.markdown-preview-view .file-embed-link svg,
.file-embed-link svg,
.markdown-preview-view .markdown-embed-link svg,
.markdown-embed-link svg {
  width: 16px;
  height: 16px;
}

.internal-embed .markdown-preview-view .markdown-preview-sizer > div,
.internal-embed .markdown-preview-view .markdown-preview-sizer > div {
  margin: 0;
  width: 100%;
}

.markdown-embed .markdown-preview-view .markdown-preview-sizer {
  padding-bottom: 0 !important;
}

.markdown-preview-view.markdown-embed .markdown-preview-sizer,
.markdown-preview-view.is-readable-line-width .markdown-embed .markdown-preview-sizer {
  max-width: 100%;
  width: 100%;
  min-height: 0 !important;
  padding-bottom: 0 !important;
}

/*# sourceMappingURL=publish.css.map */
