/* Backlinks like Obsidian Publish. */
.embedded-backlinks {
  background-color: var(--background-primary-alt);
  border-radius: 6px;
  margin: 30px 0;
  padding: 20px;
  clear: both; /* to not conflict with floating images. */
}

.published-container .backlinks {
  clear: both; /* to not conflict with floating images. */
}
  
/* Disable backlinks when editing */
/* Doesn't seamlessly work in source mode... Obsidian please. */
.markdown-source-view .embedded-backlinks {
  display: none;
}