/* Old Blockquotes */
/*.markdown-rendered blockquote {
  border: none; /* Remove Obsidian's border */
  /*border-left: 5px solid #3e4446;*/ /* Create my own design. */
/*}*/

/* Preview View Blockquotes */
.markdown-preview-view blockquote {
  font-style: italic;
  background: var(--background-primary-alt); /*var(--md-color-blockquotes-bg);*/
  padding: var(--scale-2-8) var(--scale-2-18) var(--scale-2-8) var(--scale-2-18);
  border-radius: var(--scale-2-4);
  border: 1px solid var(--background-modifier-border);
  margin-left: var(--scale-0-0);
  margin-right: var(--scale-0-0);
}
