/* Reading view. */
ul > li.task-list-item[data-task="x"],
ul > li.task-list-item[data-task="X"] {
  text-decoration: none;
  color: var(--text-normal);
}

/* Source view. */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"], 
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"] {
  text-decoration: none;
  color: var(--text-normal);
}