/* Current graph node highlight/focused */
.graph-view.color-fill-focused
{
  color: var(--mav-red);
} 

/* Graph node outline */
.graph-view.color-circle {
  color: var(--mav-red);
}

.graph-view.color-fill-highlight {
  color: var(--interactive-accent);
}
.graph-view.color-line-highlight {
  color: rgb(var(--interactive-accent-rgb));
} 
