/* Headers */
/* Inspired by Andy Matuschak */
.markdown-preview-view h1,
.HyperMD-header-1,
.cm-header-1,
.cm-s-obsidian .cm-header-1 {
  font-weight: 600;
} 

.markdown-preview-view h2,
.HyperMD-header-2,
.cm-header-2,
.cm-s-obsidian .cm-header-2,
.markdown-preview-view h3,
.HyperMD-header-3,
.cm-header-3,
.cm-s-obsidian .cm-header-3 {
  font-weight: normal;
}

.markdown-preview-view h2 {
  border-bottom: 2.5px solid #E9495F; /*Inspired by Fedora Kinoite docs*/
}

.markdown-preview-view h4,
.HyperMD-header-4,
.cm-header-4,
.cm-s-obsidian .cm-header-4 {
  font-size: var(--h4);
  /*font-weight: normal;*/
  font-style: italic;
}

/* Better embedded titles. */
.markdown-embed-title {
  display: none;
  /*text-align: center;
  font-weight: normal;*/
} 
