/* Remove spelling errors regarding html tags themselves (not the content within it). */
.cm-tag.cm-overlay.cm-spell-error{
  background-image: none;
}

/* Center iframes */
iframe {
display: block;
margin-left: auto;
margin-right: auto;
}