/* Images */
.markdown-source-view img,
.markdown-preview-view img {
  border-radius: 5px;
}

/* Make images fit width like live-preview mode. */
/* *So* much more easier to edit without images exploding... */
.markdown-source-view img:not([width]),
.markdown-source-view.cm-s-obsidian.mod-cm6.is-readable-line-width img,
.internal-embed.image-embed.is-loaded img {
  max-width: 100%;
}

/* We don't want images exploding while editing tables either. */
.markdown-source-view .HyperMD-table-2 img {
  max-width: 200px !important; /* still not perfect, re-scaling issues... */
} 