/* No underlines for internal links. */
.markdown-preview-view .internal-link {
  text-decoration: none;
}
  
/* Source mode */
.markdown-source-view.mod-cm6 .cm-hmd-internal-link span.cm-underline {
  text-decoration: none;
}