/* External helpers */

/* Dark mode images  */
/* MIT License | Copyright (c) Stephan Ango (@kepano) */
.theme-dark .markdown-preview-view img {
  opacity: 0.75;
  transition: opacity 0.25s linear; 
}
  
.theme-dark .markdown-preview-view img:hover {
  opacity: 1;
  transition: opacity 0.25s linear;
}

/* Transcluded notes and embeds */
/* Derived from kepano's helper class */
/* https://github.com/kepano/obsidian-minimal */
/* duplicate markdown-preview-view is for Obsidian publish. */
/* Make transcluded notes appear more inline. */
/* (deal with different padding/margins.) */
.markdown-preview-view .internal-embed .markdown-embed,
.internal-embed .markdown-embed {
  padding: 0;
  border: none;
  margin: 0;
}

.markdown-preview-view .markdown-embed,
.markdown-embed {
  margin: 0;
  padding: 0;
}

.markdown-preview-view .markdown-embed .markdown-preview-view,
.markdown-embed .markdown-preview-view {
  padding: 0;
}

/* make it look similar to text in source view too. */
/* based on "cm-line". */
.markdown-source-view .internal-embed {
  padding: 0 2px 0 4px;
}

/*=====================================*/
/* Now deal with content above/below the transcluded note. */
/* original top margin is 6px, */
/* shortening it is more natural */
.markdown-preview-view .markdown-embed-content p:first-child,
.markdown-embed-content p:first-child {
  margin-top: 0;
}

/* same theory, bottom margin was 17px,*/
.markdown-preview-view .markdown-embed .markdown-preview-section div:last-child p,
.markdown-embed .markdown-preview-section div:last-child p,
.markdown-preview-view .markdown-embed .markdown-preview-section div:last-child ul,
.markdown-embed .markdown-preview-section div:last-child ul {
  margin-block-end: 0px;
}

/*=====================================*/
/* Link icon (of the transcluded note) */
.markdown-preview-view .markdown-embed-link,
.markdown-embed-link,
.markdown-preview-view .file-embed-link,
.file-embed-link {
  top: 0px;
  right: 0;
  text-align: right;
}

/* more compact icon */
.markdown-preview-view .file-embed-link svg,
.file-embed-link svg,
.markdown-preview-view .markdown-embed-link svg,
.markdown-embed-link svg {
  width: 16px;
  height: 16px;
}

.internal-embed .markdown-preview-view .markdown-preview-sizer > div,
.internal-embed .markdown-preview-view .markdown-preview-sizer > div {
  margin: 0;
  width: 100%; }

.markdown-embed .markdown-preview-view .markdown-preview-sizer {
  padding-bottom: 0 !important; }

.markdown-preview-view.markdown-embed .markdown-preview-sizer,
.markdown-preview-view.is-readable-line-width .markdown-embed .markdown-preview-sizer {
  max-width: 100%;
  width: 100%;
  min-height: 0 !important;
  padding-bottom: 0 !important; }