/* Publish Quirks */
/* Modified from:
* (https://garden.anthonyamar.fr)! */
/* My edit: 905px: squeezes accordingly on smaller screens nicely
 * AND looks good on wider screens. */
@media only screen and (min-width: 905px) {
  .published-container .site-body {
    justify-content: space-between !important;
  }

  .published-container .site-body-center-column {
    flex: 0 1 100% !important;
  }

  .published-container .markdown-preview-view {
    padding: 20px 6em !important;
  }

  /* don't add padding to transclusion */
  .published-container .markdown-embed .markdown-preview-view {
    padding: 0 !important;
  }

  .published-container .backlinks {
    margin: 30px 0 !important;
    padding: 20px !important;
  }

  .published-container .site-body-right-column,
  .published-container .site-body-left-column {
    width: 290px !important;
    flex: 0 0 290px !important;
  }
}
  
.published-container .site-footer {
  display: none;
}
  
/* Perfect blend between too-small 16px and too-big 18px */
/*.published-container .markdown-preview-view {
  font-size: 17px;
}*/ /*Not necessary with Atkinson Hyperlegible font.*/

/* Disable folder view */
/*.nav-view-outer {
    display: none;
  }
*/