/* Hide Backlinks on home page(s) */
.published-container .nobacklinks .backlinks {
  display: none;
} 

/* ─────────────────────────────────────────────────── */
/* > Flexquote */
/* ─────────────────────────────────────────────────── */
.flexquote blockquote {
  display: flex;
}

/* ─────────────────────────────────────────────────── */
/* > Wiki-inspired detailed nested ordered list */
/* ─────────────────────────────────────────────────── */
/* An Obsidian Snippet by Rachel Veer. */
/* :not(.footnotes) to leave precious footnotes alone. */
:not(.footnotes) > ol {
  list-style-type:none;
  counter-reset:list;
  margin: 0;
  padding-left: 40px;
}

:not(.footnotes) > ol li {
  counter-increment:list;
}

:not(.footnotes) > ol li::marker {
  color: var(--text-normal);
  content: counters(list, ".") ". ";
}

/* Removes trailing period from */ 
/* indented/sub-header numbers  */ 
/* similar effect to tfwiki toc  */
:not(.footnotes) > li ol > li::marker {
  content: counters(list, ".") " ";
}

/* ─────────────────────────────────────────────────── */
/* > Markdown Table Galleries */
/* ─────────────────────────────────────────────────── */

/* Round out images in Markdown table "galleries". */
.table-border-ri table {
  --background-modifier-border: none;
}

.table-border-ri .markdown-preview-view th {
    background-color: var(--background-editor-border);
    color: white;
}

.table-border-ri img {
    border-radius: 3px;
}

/* Responsive tables. */
@media all and (max-width: 500px) {
  .table-border-ri td {
      display: block;
      width: 100% !important;
  }
}

/* ─────────────────────────────────────────────────── */
/* > Image Adjustment Snippets */
/* ─────────────────────────────────────────────────── */
/* Originally from: https://github.com/SlRvb/Obsidian--ITS-Theme */
/* Modified by (7/20/2022): Rachel Veer */
/*----Image Positions/Adjustments----*/
/*Captions*/
/*=================================================*/
/* "min-width" makes is responsive!  */
/* This way images aren't squished on small screens*/
/*=================================================*/
@media screen and (min-width: 500px) {

  .img-cap .image-embed::after,
  .image-embed[src*="#cap"]::after {
  content: attr(alt);
  color: var(--text-faint);
  display: block;
  text-align: center;
  }

  /* Lithou's Img-Grid CSS */
  .img-grid span.image-embed[alt*="."],
  span.image-embed[src*=grid],
  span.image-embed[alt*=grid],
  img[alt*=grid] {
  display: table-cell;
  vertical-align: middle;
  padding: 3px;
  }

  .img-grid img[alt*="."],
  .image-embed[alt*=grid],
  img[alt*=grid],
  .image-embed[src*="#grid"] {
  max-height: 30vh;
  }

  /*Fix Float Issues*/
  img[alt*=clear],
  .image-embed[src*="#clear"] {
  clear: both;
  }

  img[alt*=unclr],
  .image-embed[src*="#unclr"] {
  clear: none !important;
  }

  /*Center Image*/
  /* Working center image in both reading and source view! */
  /* By Rachel Veer. */
  img[alt*=ctr],
  img[alt*=center],
  img[src*="#center"],
  .image-embed[src*="#ctr"],
  .image-embed[src*="#center"],
  .image-embed[alt*=center],
  span.internal-embed.image-embed.is-loaded[src*="#center"],
  .view-content .image-embed[src*="#center"] img,
  .markdown-preview-view .image-embed[src*="#center"] img,
  .imgctr img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /*--Simplified Version--*/
  /*Image Locations*/
  /*Left & Right*/
  .view-content > :not(.is-live-preview) .image-embed[alt*=left],
  .view-content > :not(.is-live-preview) .image-embed[src*="#left"],
  .markdown-preview-view .image-embed[alt*=left],
  .markdown-preview-view .image-embed[src*="#left"] {
    float: left;
    margin-right: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .view-content > :not(.is-live-preview) .image-embed[alt*=right], 
  .view-content > :not(.is-live-preview) .image-embed[src*="#right"],
  .markdown-preview-view .image-embed[alt*=right],
  .markdown-preview-view .image-embed[src*="#right"] {
    float: right;
    margin-left: 2%;
    margin-bottom: 0px;
  }

  /* Prevent header conflict with images */
  /* Header 1 because I use it as a title (don't want an image next to that, */ 
  /* and Header 2 because I give them a bottom border, so now it won't conflict or go through images. */
  .markdown-preview-view h1, 
  .markdown-preview-view h2 {
    clear: both;
  }

}

/* Automatically center images on smaller screens. */
@media screen and (max-width: 500px) {
  .markdown-preview-view .markdown-embed,
  .markdown-preview-view img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ─────────────────────────────────────────────────── */
/* > Destiny Wiki infobox */
/* ─────────────────────────────────────────────────── */
/* Few class descriptiveness mods (i.e. 'th.<class-name>')
 * for minimal compatability. */
/* - added th.infoboxcell class to fix mis-padded/aligned
 *   images. */

@media screen and (max-width: 500px) {
  table.infobox {
    float: none;
  }
}

/* Responsive in popover. */
.popover.hover-popover .markdown-embed .infobox {
  float: none;
}

.infobox {
  float: right;
  clear: right;
  padding: 2px;
  margin: 0 0 1em 1em;
  width: 260px;
  border-radius: 0 0 10px 10px;
}

.theme-light .infobox {
  color: white;
}

/* Tight spacing + custom borders. */
.infobox th, .infobox td {
  padding: 0;
  border-spacing: 0;
  border-left: none;
  border-right: none;
  border-bottom:1px solid #666;
  border-top:1px solid #666;
}

/* Create outline around entire table. */
.markdown-preview-view table.infobox {
  border-collapse: separate;
  background-color: #666;
}

/* The actual title of the infobox. */
.markdown-preview-view th.title {
  /*background: #666; above class changes bg*/
  color: white;
  text-align: center;
  font-size: 90%;
}

/* Infobox sub-headings following title. */
.markdown-preview-view th.infoboxsubheading {
  font-size: 80%;
  color: white;
  text-align: center;
}

/* The main contents of the table. */
.content {
  vertical-align:top;
  background: #333;
  font-size:80% !important;
  padding: 0 0 0 2px !important;
  line-height:14px;
}

/* Further tightness. */
.infoboxcell {
  vertical-align: top;
  font-size: 90%;
  padding: 0px 0px 0px 2px !important;
  line-height: 14px;
}


th.infoboxcell {
    padding-left: 0px !important;
}

.rounded-end {
  text-align:center;
  background: transparent;
  padding:0;
  font-size:10px;
  line-height:10px;
  border: none !important;
}

.infobox img {
  border-radius: 0% !important;
}

/* ─────────────────────────────────────────────────── */
/* > Clear Table CSS */
/* ─────────────────────────────────────────────────── */
.clear-table table {
  --background-modifier-border: none;
}

/* ─────────────────────────────────────────────────── */
/* > Rachel Veer's Notion Gallery. (As of 10/4/21) */
/* ─────────────────────────────────────────────────── */

/* Responsive
====================================*/
@media all and (max-width: 500px) {

    .notion-gallery td {
        display: block;
        margin-bottom: 16px;
        width: 100% !important;
        height: auto !important;
    }
}
/*=================================*/

.notion-gallery.markdown-preview-view blockquote {
    border:none;
    border-left: 5px solid #3e3471;
  }

/* Inserts line at start/top of
   galleries + separate borders and
   spacing akin to Notion */
.notion-gallery table {
    border-top: 1px solid rgb(77, 81, 83);
    border-collapse: separate;
}

.notion-gallery table tbody {
    /* Margins that cope with "border-spacing" effect. */
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -16px;
    display: block;
    border-spacing: 16px;
  }

/* Get rid of empty header space */
.notion-gallery thead {
    display: none;
}

.notion-gallery td {
    padding: 0px !important; /* Remove artificial padding around images. */
    box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 2px 4px;
    border-radius: 3px;
    background: rgb(63, 68, 71);
    height: 146.25px; /* Preserve aspect ratio. */
    width: 342px;
}

/* Don't display an empty cell. */
.notion-gallery td:empty {
    display: none;
}

/* Preserves image presentation/ratio of all sizes,
   yet neatly contained like Notion (see height intensive images). */
.notion-gallery td img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 146.25px;
    object-position: center 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

/* Special case: allows images within gallery to
enlarge according to their respective sizes. */
   .notion-gallery-unset-height td img {
    height: unset !important;
}

/* Key feature: clean text implementation after table image. */
.notion-gallery td .image-embed[alt]:after {
    content: attr(alt);
    display: block;
    /* Notion tier text. */
    padding-inline-start: 10px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 10px;
    line-height: 1.1;
    color: var(--text-normal);
}