/* Base changes. */
@import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,700,400i,700i);

:root {
  --h4: 1.1rem;
  
  /* Colors */
  /* shade of red tailored for computer screens version */
  /* #E9495F hex -> HSL */ 
  --accent-h:352;
  --accent-s:78%;
  --accent-d:60%; /* accent lightness dark mode */
  --accent-l:50%; /*accemt lightness light mode */

  /* Snippet of code from Primary Theme */
  --scale-0-0: 0px;
  --scale-2-4: 8px;
  --scale-2-8: 16px;
  --scale-2-18: 36px;
}
  
.theme-light {
  --mav-red:hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --text-accent:var(--mav-red);
  --text-accent-hover:hsl( var(--accent-h), var(--accent-s), calc(var(--accent-l) + 12%) );
  --interactive-accent:var(--mav-red);
  --interactive-accent-rgb:233, 73, 95;
  --interactive-accent-hover: #fd3550; /* buttons */
}
  
.theme-dark {
  --mav-red:hsl(var(--accent-h), var(--accent-s), var(--accent-d));
  --text-accent:var(--mav-red);
  --text-accent-hover:hsl( var(--accent-h), var(--accent-s), calc(var(--accent-d) + 12%) );
  --interactive-accent:var(--mav-red);
  --interactive-accent-rgb:233, 73, 95;
  --interactive-accent-hover: #fd3550; /* buttons */

  /* For new blockquote containers. */
  --md-color-blockquotes-bg:hsl(26, 16%, 9%);
}


body {
  /*New primary font*/
  font-family: "Atkinson Hyperlegible", 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --font-text: "Atkinson Hyperlegible", 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  
  /* Times new roman, for papers and official documents */
  /* uncomment below to use, and comment out above font too when in use, vice versa. */
  /*
  font-family: "Times New Roman", sans-serif;
  --font-text: "Times New Roman", sans-serif;
  */
}

a.footnote-link {
  text-decoration: none;
}

section.footnotes > hr {
  display: none;
}