/* Tags */
.markdown-preview-view .tag:not(.token) {
  text-decoration: none;
  font-weight: 550;
  background-color: var(--background-secondary);
  border-radius: 30px;
  font-size: 0.9em;
  padding: 2px 8px;
  border: 1px solid var(--background-modifier-border);
} 